body {
    background-color: lightpink;
}

header {
    display:flex;
    justify-content: space-between;
    padding:10px;
    height:100%;
    box-sizing: border-box;
    border-color: black;
    border:2px solid black;
    padding:10px;
    margin:10px;
}

aside {
    width:15%;
    height: 100vh;
    display:flex;
    flex-direction:column;
    margin:0;
    display:inline-flex;
    flex:wrap;
    box-sizing: border-box;
    border-color: black;
    border:2px solid black;
    padding:10px;
    margin:10px;
    
    
    
}
main {
    display:flex;
    justify-content:left;
    flex-wrap: nowrap;
    box-sizing: border-box;
    border-color: black;
    border:2px solid black;
    padding:10px;
    margin:10px;

    

}
.submitBtn{
    width:70px;
    display:flex;
    
}
.searchInput {
    width:80vw;
    

}
.searchFilter {
    padding:10px;
}