body {
    background-color: lightpink;
}

header {
    display:flex;
    justify-content: space-between;
    padding:10px;
    height:100%;
    box-sizing: border-box;
    border-color: black;
    border:2px solid black;
    padding:10px;
    margin:10px;
}

aside {
    /* width:15%; */
    height:100%;
    /* display:flex;
    flex-direction:column;
    margin:0;
    display:inline-flex;
    flex:wrap;
    box-sizing: border-box;
    border-color: black; */
    border:2px solid black;
    /*padding:10px;
    margin:10px; */
}
.searchFilter {
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-color: black;
    border:2px solid black;
    margin:10px;
}
.submitBtn{
    width:100px;
    display:flex;
    justify-content: center;
    border-radius: 10px;
}
.searchInput {
}
.searchFilter {
    padding:10px;
}